<header class="header">
    <div class="icon-btn">
        <!--<i class="iconfont icon-menu"></i>-->
    </div>
    <span class="title">{{siteInfo.title}}</span>
    <div class="icon-btn">
        <!--<i class="iconfont icon-share"></i>-->
    </div>
</header>
