<header class="header mask">
    <div class="icon-btn">
        <i class="iconfont icon-back"></i>
    </div>
    <span class="title">{{siteInfo.title}}</span>
    <div class="icon-btn">
        <i class="iconfont icon-menu"></i>
    </div>
</header>
