<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
						    <span class="fa-stack fa-lg">
						  	    <i class="fas fa-circle fa-stack-2x"></i>
						  	    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
						    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  			<span class="fa-stack fa-lg">
                  			    <i class="fas fa-circle fa-stack-2x"></i>
                  			    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  			</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/GiantGo">
                  			<span class="fa-stack fa-lg">
                  			    <i class="fas fa-circle fa-stack-2x"></i>
                  			    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  			</span>
                        </a>
                    </li>
                </ul>
                {{{siteInfo.codeFooter}}}
                <p class="copyright text-muted">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://github.com/GiantGo" target="_blank">GiantGo</a></p>
            </div>
        </div>
    </div>
</footer>
