.card-wrapper {
  overflow: hidden;
}

.card {
  width: 46%;
  height: pxToRem(375px);
  margin: pxToRem(15px);
  padding: pxToRem(15px);
  float: left;
  border-radius: pxToRem(4px);
  box-shadow: 0 pxToRem(2px) pxToRem(12px) rgba(0, 0, 0, .117647), 0 pxToRem(2px) pxToRem(8px) rgba(0, 0, 0, .117647);
  box-sizing: border-box;
  .card-img {
    display: block;
    width: pxToRem(226px);
    height: pxToRem(226px);
    margin: pxToRem(12px) auto 0;
    border-radius: pxToRem(20px);
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: pxToRem(20px);
    }
  }
  .card-content {
    display: block;
    padding: pxToRem(20px) pxToRem(32px) 0;
    box-sizing: border-box;
    width: 100%;
    .card-name {
      display: -webkit-box;
      height: pxToRem(60px);
      font-size: pxToRem(30px);
      font-weight: 400;
      box-sizing: border-box;
      color: rgba(71, 74, 79, .87);
      line-height: pxToRem(72px);
      white-space: normal;
      overflow: hidden;
    }
    .tit-start {
      width: 100%;
      height: pxToRem(36px);
      font-size: pxToRem(24px);
      color: rgba(71, 74, 79, .54);
      overflow: hidden;
      display: table;
      vertical-align: middle;
      span {
        float: left;
      }
      span.start {
        float: right;
        margin-right: pxToRem(4px);
      }
      .icon-star {
        float: right;
        font-size: pxToRem(20px);
        color: $blue;
      }
    }
  }
}

.game-title {
  width: 100%;
  height: pxToRem(72px);
  font-size: pxToRem(36px);
  font-weight: 700;
  line-height: pxToRem(72px);
  background-color: #fff;
  color: #7e848c;
  padding-left: pxToRem(72px);
  box-sizing: border-box;
  overflow: hidden;
  margin: pxToRem(40px) 0 pxToRem(10px);
  div {
    float: left;
    height: pxToRem(72px);
  }
  div.flag {
    height: pxToRem(42px);
    width: pxToRem(8px);
    margin: pxToRem(12px) pxToRem(20px) 0 0;
    background-color: rgb(66, 103, 178);
  }
  div.title {
    float: left;
    height: pxToRem(72px);
  }
  a.see-all {
    float: right;
    padding: 0 pxToRem(32px);
    font-size: pxToRem(28px);
    color: rgb(66, 103, 178);
    &:active {
      background: #efefef;
    }
  }
}

.item-img {
  display: block;
  height: pxToRem(264px);
  width: 100%;
}

.detail-wrapper {
  padding: pxToRem(16px) pxToRem(16px) pxToRem(80px);
  box-sizing: border-box;
  height: auto;
  background: #f5f5f5;
  .detail {
    background: #fff;
    width: 100%;
    min-height: pxToRem(600px);
    border-radius: pxToRem(4px);
    overflow: hidden;
    box-shadow: 0 pxToRem(2px) pxToRem(12px) rgba(0, 0, 0, .117647), 0 pxToRem(2px) pxToRem(8px) rgba(0, 0, 0, .117647);
    margin-bottom: pxToRem(200px);
    .logo {
      display: block;
      width: pxToRem(224px);
      height: pxToRem(224px);
      border-radius: pxToRem(20px);
      margin: pxToRem(20px) auto 0;
    }
    .tag {
      width: pxToRem(204px);
      height: pxToRem(36px);
      margin: pxToRem(4px) auto 0;
      border-radius: pxToRem(32px);
      text-align: center;
      color: white;
      background: rgb(66, 103, 178);
    }
    .name {
      height: pxToRem(48px);
      width: 100%;
      font-size: pxToRem(44px);
      line-height: pxToRem(48px);
      text-align: center;
      margin-top: pxToRem(20px);
      color: rgba(71, 74, 79, .87);
    }
    .description {
      margin-top: pxToRem(4px);
      border-top: pxToRem(4px) solid rgba(0, 0, 0, .12);
      border-bottom: pxToRem(4px) solid rgba(0, 0, 0, .12);
      padding: pxToRem(10px) 0;
      .desc {
        padding: pxToRem(32px);
        text-indent: 2em;
        font-size: pxToRem(28px);
        color: #474a4f;
      }
    }
    .tag-tit {
      overflow: hidden;
      height: pxToRem(60px);
      padding-left: pxToRem(42px);
      .name {
        display: inline-block;
        padding-left: pxToRem(20px);
        border-left: pxToRem(8px) solid rgba(0, 0, 0, .54);
        font-size: pxToRem(36px);
        height: pxToRem(42px);
        line-height: pxToRem(42px);
        color: #7e848c;
        font-weight: 700;
        letter-spacing: normal;
        margin-top: 0;
        text-align: left;
      }
    }
    .detail-info {
      margin-top: pxToRem(4px);
      border-top: pxToRem(4px) solid rgba(0, 0, 0, .12);
      border-bottom: pxToRem(4px) solid rgba(0, 0, 0, .12);
      padding: pxToRem(10px) 0;
      .details {
        padding: pxToRem(16px);
        box-sizing: border-box;
        overflow: hidden;
        .items {
          width: 50%;
          float: left;
          span {
            text-indent: 2em;
            display: block;
            font-size: pxToRem(24px);
          }
          span.tit-name {
            padding: pxToRem(24px) 0;
            color: #7e848c;
          }
          span.size {
            color: #474a4f;
            font-size: pxToRem(26px);
          }
        }
      }
    }
  }
}

.play-btn {
  position: fixed;
  bottom: pxToRem(200px);
  left: 50%;
  margin-left: pxToRem(-187.5px);
  right: 0;
  width: pxToRem(376px);
  height: pxToRem(72px);
  line-height: pxToRem(72px);
  border-radius: pxToRem(75px);
  text-align: center;
  z-index: 999;
  transform: translate(-50%, -90%);
  animation: scales .5s infinite linear;
  color: white;
  background: rgb(66, 103, 178);
}

@keyframes scales {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
