.card-wrapper {
  width: 100%;
}

.card {
  display: flex;
  width: 96%;
  height: pxToRem(280px);
  padding: pxToRem(20px) pxToRem(30px);
  color: rgb(51, 51, 51);
  .card-img {
    display: block;
    width: pxToRem(226px);
    height: pxToRem(226px);
    overflow: hidden;
    margin: pxToRem(12px) auto 0;
    border-radius: pxToRem(20px);
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: pxToRem(20px);
    }
  }
  .card-info {
    display: flex;
    width: 50.7%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 0.27rem;
    padding: pxToRem(20px) 0px;
    .title {
      font-size: pxToRem(48px);
      color: $gray;
    }

    .social-bar {
      font-size: pxToRem(24px);
      display: flex;
      align-items: center;
      margin-top: pxToRem(10px);
      color: $gray01;

      .iconfont {
        margin-right: pxToRem(7.5px);
      }
    }
  }
}

.game-title {
  width: 100%;
  height: pxToRem(72px);
  font-size: pxToRem(48px);
  font-weight: 700;
  line-height: pxToRem(72px);
  color: $gray;
  box-sizing: border-box;
  margin: pxToRem(10px) 0 pxToRem(10px);
  div {
    height: pxToRem(72px);
  }
  div.flag {
    height: pxToRem(42px);
    width: pxToRem(8px);
    margin: pxToRem(12px) pxToRem(20px) 0 0;
    background-color: $purple;
    float: left;
  }
  div.title {
    float: left;
    height: pxToRem(72px);
  }
  a.see-all {
    float: right;
    padding: 0 pxToRem(32px);
    font-size: pxToRem(28px);
    color: $gray03;
    &:active {
      background: $gray02;
    }
  }
}

.item-img {
  display: block;
  height: pxToRem(264px);
  width: 100%;
}

.detail-wrapper {
  padding: pxToRem(16px) pxToRem(16px) pxToRem(80px);
  box-sizing: border-box;
  height: auto;
  .detail {
    width: 100%;
    min-height: pxToRem(600px);
    border-radius: pxToRem(4px);
    overflow: hidden;
    box-shadow: 0 pxToRem(2px) pxToRem(12px) rgba(0, 0, 0, .117647), 0 pxToRem(2px) pxToRem(8px) rgba(0, 0, 0, .117647);
    margin-bottom: pxToRem(200px);
    .logo {
      display: block;
      width: pxToRem(224px);
      height: pxToRem(224px);
      border-radius: pxToRem(20px);
      margin: pxToRem(20px) auto 0;
    }
    .tag {
      width: pxToRem(204px);
      height: pxToRem(36px);
      margin: pxToRem(4px) auto 0;
      border-radius: pxToRem(32px);
      text-align: center;
      color: white;
      background: $purple;
    }
    .name {
      height: pxToRem(48px);
      width: 100%;
      font-size: pxToRem(44px);
      line-height: pxToRem(48px);
      text-align: center;
      margin-top: pxToRem(20px);
      color: $gray;
    }
    .description {
      margin-top: pxToRem(4px);
      border-top: pxToRem(4px) solid rgba(0, 0, 0, .12);
      border-bottom: pxToRem(4px) solid rgba(0, 0, 0, .12);
      padding: pxToRem(10px) 0;
      .desc {
        padding: pxToRem(32px);
        text-indent: 2em;
        font-size: pxToRem(28px);
        color: $gray;
      }
    }
    .tag-tit {
      overflow: hidden;
      height: pxToRem(60px);
      padding-left: pxToRem(42px);
      .name {
        display: inline-block;
        padding-left: pxToRem(20px);
        border-left: pxToRem(8px) solid rgba(0, 0, 0, .54);
        font-size: pxToRem(36px);
        height: pxToRem(42px);
        line-height: pxToRem(42px);
        color: $gray02;
        font-weight: 700;
        letter-spacing: normal;
        margin-top: 0;
        text-align: left;
      }
    }
    .detail-info {
      margin-top: pxToRem(4px);
      border-top: pxToRem(4px) solid rgba(0, 0, 0, .12);
      border-bottom: pxToRem(4px) solid rgba(0, 0, 0, .12);
      padding: pxToRem(10px) 0;
      .details {
        padding: pxToRem(16px);
        box-sizing: border-box;
        overflow: hidden;
        .items {
          width: 50%;
          float: left;
          span {
            text-indent: 2em;
            display: block;
            font-size: pxToRem(24px);
          }
          span.tit-name {
            padding: pxToRem(24px) 0;
            color: $gray02;
          }
          span.size {
            color: #474a4f;
            font-size: pxToRem(26px);
          }
        }
      }
    }
  }
}

.play-btn {
  position: fixed;
  bottom: pxToRem(200px);
  left: 50%;
  margin-left: pxToRem(-187.5px);
  right: 0;
  width: pxToRem(376px);
  height: pxToRem(72px);
  line-height: pxToRem(72px);
  border-radius: pxToRem(75px);
  text-align: center;
  z-index: 999;
  transform: translate(-50%, -90%);
  animation: scales .5s infinite linear;
  color: $white;
  background: $purple;
}

@keyframes scales {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
