.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.header {
  height: pxToRem(112px);
  box-shadow: 0 pxToRem(2px) pxToRem(12px) rgba(0, 0, 0, .117647), 0 pxToRem(2px) pxToRem(8px) rgba(0, 0, 0, .117647);
  padding: 0 pxToRem(16px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: rgb(66, 103, 178);
  .icon-btn {
    display: flex;
    width: pxToRem(96px);
    height: pxToRem(96px);
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: pxToRem(40px);
    color: #fff;
  }
}

.layout-home, .layout-inside {
  height: auto;
  position: relative;
  max-width: pxToRem(1024px);
  margin: 0 auto;
}
